doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/about/about.pug
    include ../components/portfolio/portfolio.pug

    head
        +head(head.defaults)
    body.page
        main.wrap
            header.header
                .content
                    h1.logo n31
                    nav
                        label(for="slide1") Home
                        label(for="slide2") Portfolio
                        label(for="slide3") Skills
                        label(for="slide4") Contact


            input#slide1(type="radio" name="slades" checked)
            section.slide.slide1
                +_about
            input#slide2(type="radio" name="slades" )
            section.slide.slide2
                +portfolio
            input#slide3(type="radio" name="slades" )
            section.slide.slide3
                h1 TEXT1
            input#slide4(type="radio" name="slades" )
            section.slide.slide4
                h1 TEXT1


        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
