include prt_item.pug
mixin portfolio(data)
    .portfolio
        .content

            - var prt_items = [{title:"Youth Fashion",link_text:"Youth fashion online store Youth Fashion",href:'YouthFashion'},{title:"Bisnesse",link_text:"Landing page",href:'Bisnesse'},{title:"Wg",link_text:"Landing page",href:'Wg'},{title:"Bouncy",link_text:"Landing page",href:'Bouncy'},];
            for item in prt_items
                +prt_item(item)



