mixin prt_item(item)
    .prt_item
        .hovereffect
            .img(class=item.href)
            .overlay
                h2= item.title
                a.info(href=item.href)
                    =item.link_text

