mixin _about(data)
    ._about
        .content
            .about__left
                h1 Hello,| my name
                    span.name NE31OI
                    span.work Frontend & Web Developer
                    span.work Web Designer
            .line.line1
            .line.line2
