mixin skills(data)
    .skills
        .content
            .skills__left
                h2 My experience
                .timeline
                    section.timeline__date
                        .timeline-img
                        .timeline-contant
                            h3 today
                    section.timeline__date
                        .timeline-img
                        h3 2015
            .skills__rigth

                section
                    .skills__icon.skills__icon--html
                    .skills__icon.skills__icon--css
                    .skills__icon.skills__icon--bs
                section
                    .skills__icon.skills__icon--js
                    .skills__icon.skills__icon--jq

                section
                    .skills__icon.skills__icon--pug
                    .skills__icon.skills__icon--sass
                    .skills__icon.skills__icon--gulp
                h2 My skills


